.gifContainer {
    position: relative;
    min-width: auto;
    display: inline-block;
}

.gif {
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .7s ease;
  backface-visibility: hidden;
}

.overlay {
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #9de3ff;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
}

.gifContainer:hover .overlay {
    opacity: 1;
}

.gifContainer:hover .gif {
    opacity: 0.35;
}

.gifContainer:hover .text {
    cursor: default;
}